* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  width: 90%;
  margin: 40px auto;
  background: var(--ctp-1);
  border-radius: 25px;
  padding: 50px;
}
:root {
  --background: #051f20;
  --ctp-1: #0b2b26;
  --ctp-mauve: #163832;
  --ctp-green1: #235347;
  --ctp-maroon: #8eb69b;
  --ctp-peach: #daf1de;
  --ctp-yellow: #0d1f23;
  --ctp-green2: #132e35;
  --ctp-teal: #2d4a53;
  --ctp-sky: #69818d;
  --fontcolor: #afb3b7;
  --ctp-blue: #5a636a;
  --ctp-lavender: #b4befe;
  --ctp-text: #cdd6f4;
  --ctp-subtext1: #bac2de;
  --ctp-subtext0: #a6adc8;
  --ctp-overlay2: #9399b2;
  --ctp-overlay1: #7f849c;
  --ctp-overlay0: #6c7086;
  --ctp-surface2: #585b70;
  --ctp-surface1: #45475a;
  --ctp-surface0: #313244;
  --ctp-base: #1e1e2e;
  --ctp-mantle: #181825;
  --ctp-crust: #11111b;

  --border: 3px solid var(--ctp-text);
  --shadow: 6px 6px 0px var(--ctp-text);
  --shadow-accent: 6px 6px 0px var(--ctp-yellow);
}

body {
  background: var(--background);
  color: var(--ctp-maroon);
  font-family: var(--ctp-yellow);
}
.logo h1 {
  width: fit-content;
  padding: 1rem;
}
nav {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
}

nav ul {
  display: flex;
  list-style: none;
  padding: 2rem;
}
nav li a {
  color: var(--ctp-peach);
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}
#about {
  padding: 2rem;
  height: 90vh;
}

#about h2 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
#about .text {
  display: grid;
  grid-template-columns: 600px 1fr;
  gap: 4rem;
  align-items: center;
  padding: 2rem;
}
.text p {

  border: var(--border);
  padding: 2rem;
}
.text img {
    border: var(--border);
    box-shadow: var(--shadow);
    
}
.image{
    display: flex;
    justify-content: center;
    align-content: center;
}




#hero {
  text-align: center;
}
#hero h2 {
  font-size: 50px;
  margin-bottom: 20px;
}
#hero h3{
  margin-top: 30px;
  margin-bottom: 20px;
}

#skills {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 15px;
  height: 100vh;
}
.skill {
  background:var(--ctp-mantle);
  color:var(--ctp-lavender);
  padding: 15px;
  border-radius: 8px;
}

