
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

:root {
  --background: #051f20;
  --ctp-1: #0b2b26;
  --ctp-mauve: #163832;
  --ctp-green1: #235347;
  --ctp-maroon: #8eb69b;
  --ctp-peach: #daf1de;
  --ctp-white: #fff;
  --ctp-green2: #1b343d;
  --ctp-teal: #07161b;
   --ctp-base: #d9c19c;
  --ctp-sky: #69818d;
  --fontcolor: #afb3b7;
  --ctp-blue: #5a636a;
  --ctp-lavender: #10242b;
  --ctp-text: #cdd6f4;
  --ctp-subtext1: #bac2de;
  --ctp-subtext0: #a6adc8;
  --ctp-overlay2: #9399b2;
  --ctp-overlay1: #7f849c;
  --ctp-overlay0: #6c7086;
  --ctp-surface2: #585b70;
  --ctp-surface1: #45475a;
  --ctp-surface0: #313244;
  --ctp-mantle: #181825;
  --ctp-crust: #11111b;

  --border: 3px solid var(--ctp-text);
  --shadow: 6px 6px 0px var(--ctp-text);
  --shadow-accent: 6px 6px 0px var(--ctp-yellow);
}
 
body {
  background: var(--ctp-teal);
  color: var(--ctp-white);
}
.logo  {
  font-size: 18px;
  font-weight: 700;
  color:var(--ctp-base);
}

nav {
  display: flex;
  padding: 20px 60px;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  position: sticky;
  top: 0;
  background: var(--ctp-teal);
}

nav ul {
  display: flex;
  list-style: none;
 gap: 25px;
}
nav a {
  font-size: 1.8rem;
  margin-left: 4rem;
  text-decoration: none;
  color: var(--ctp-white);

}
section{
  width: 90%;
  margin: 40px auto;
  background: var(--ctp-lavender);
  border-radius: 25px;
  padding: 60px;
}
#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.hero-text h1{
  font-size: 4rem;
 color: var(--ctp-base);
}
.hero-text span{
  font-size: 1.2rem;

}
 .description{
  margin-top: 20px;
  line-height: 1.8;
 }

#hero-image img{
  width: 280px;
  height: 280px;
 border-radius: 50%;
 object-fit: cover;
 border: 4px solid var(--ctp-base);
}

.btn{
 display: inline-block;
 margin-top: 20px;
 padding: 12px 30px;
 background: var(--ctp-base);
 color: var(--ctp-crust);
 text-decoration: none;
 border-radius: 30px;
 font-weight: 600;
}
h2{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
  color: var(--ctp-base);
}

 #about p{
  max-width: 900px;
  margin: auto;
  text-align: center;
  line-height: 1.8;
 }

  .skills-grid{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
  }

.skill {
  background:var(--ctp-green2);
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  transition: 0.3s;
}
 
.skill :hover{
  transform: translate(-5px);
}
.portfolio-grid{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       gap: 20px;
}
.card{
  overflow:hidden;
  border-radius:15px;
  height:200px;   
}

.card img{
  width:100%;
  height:100%;
  object-fit:cover;   
  display:block;
  transition:.3s;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.contact-container{
  display: flex;
  gap: 30px;
}
   
.contact-info{
  width: 35%;
}
  
.contact-info p{
  margin-top: 15px;
}
 
.socials{
  margin-top: 20px;
  display: flex;
  gap: 15px;
  font-size: 25px;
}

form{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;

}
input,textarea{
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: var(--ctp-green1);
  color: var(--ctp-white);
}
textarea{
  height: 150px;
  resize: none;
}
button{
  padding: 15px;
  border: none;
  border-radius: var(--ctp-base);
  font-weight: 600;
  cursor: pointer;
}
footer{
  text-align: center;
  padding: 25px;
}
@media(max-width:768px){

#hero{
flex-direction:column;
text-align:center;
}

.contact-container{
flex-direction:column;
}

.contact-info{
width:100%;
}

.portfolio-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.hero-text h1{
font-size:3rem;
}
}